# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Downloaded parquet files
sourcify_data
oli_state/**
.DS_Store